* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: #d37676;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #3a4452;
    border-radius: 10px;
    padding: 20px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    background: transparent;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}

form .display input {
    flex: 1;
    text-align: right;
    box-shadow: none;
    font-size: 45px;
}

form input.equal {
    width: 145px;
    color: aqua;
}

form input.operator {
    color: aqua;
}